name: Release & Publish

on:
    release:
        types:
            - published

permissions:
  contents: read

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                egress-policy: audit

            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - name: Validate package.json version matches release tag
              run: |
                VERSION=$(cat package.json | jq -r .version)
                if [ "v$VERSION" != "${GITHUB_REF/refs\/tags\//}" ]; then
                  echo "Version mismatch: package.json version is $VERSION, but release tag is ${GITHUB_REF/refs\/tags\//}"
                  exit 1
                fi
    publish:
        runs-on: ubuntu-latest
        needs: validate
        permissions:
          contents: read
          packages: write
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                egress-policy: audit

            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - name: Setup .npmrc file to publish to npm
              uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
              with:
                node-version: '20.x'
                registry-url: 'https://registry.npmjs.org'
                scope: '@hiddenlayerai'
            - name: Install modules
              run: npm install
            - name: Build
              run: npm run build
            - name: Prune modules
              run: npm prune --production
            - name: Publish to npm
              run: npm publish --access public
              env:
                NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
            - name: Setup .npmrc to publish to GitHub Packages
              uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
              with:
                node-version: '20.x'
                registry-url: 'https://npm.pkg.github.com'
            - name: Publish to GitHub Packages
              run: npm publish --access public
              env:
                NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
